<div class="container">
  <h4 class="row text-center page_title">紅茶のレシピ</h4>
  <%= render 'search_form' %>
  <%= @recipes.count %>件
  <div class="row">
    <div class="col-sm-8 mr-sm-3">
      <% @recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe.id), class: "text-dark" do %>
          <%= render 'public/posts/list', post: recipe.post %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-3 col-lg-2 px-0">
      <div class="border text-center">
        <p class="border_bottom">紅茶の種類</p>
        <p><% @tags.each do |tag| %>
          <%= link_to tag.name, tags_recipe_path(tag.id), class: "text-dark" %><br>
        <% end %></p>
      </div>
    </div>
  </div>
</div>