<div class="container">
  <h4 class="border_bottom">管理者ログイン</h4>
  <div class="row">
    <div class="col px-5 px-sm-0">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: key %>
        <% end %>
        <div class="field">
          <%= f.label :email, "メールアドレス", class: "col-sm-3 offset-sm-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-4 px-0" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード", class: "col-sm-3 offset-sm-2" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-4 px-0" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-success col-8 offset-2 col-sm-2 offset-sm-4 px-0" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "admin/shared/links" %>
</div>
