お店詳細画面
  <%= image_tag @shop.post.thumbnail_image %>
  <% if @shop.images.attached? %>
    <% @shop.images.each do |image| %>
      <%= image_tag image %>
    <% end %>
  <% end %>
  <%= render 'public/users/link', user: @shop.post.user %>
  <%= @shop.created_at.strftime('%Y/%m/%d') %>
  <%= @shop.post.title %>
  <%= render 'public/favorites/btn', post: @shop.post %>
  <%= @shop.post.catchphrase %>
  <% @shop.post.post_tags.each do |post_tag| %>
    <%= link_to post_tag.tag.name, tags_shop_path(post_tag.tag.id) %>
  <% end %>
  <%= @shop.post.introduction %>
  <%  @shop.business_hours.each do |business_hour| %>
    <%= l business_hour.start_at %>
    <%= l business_hour.finish_at %>
  <% end %>
  <%= @shop.website %>
  <%= @shop.prefecture_name + @shop.address %>
<script type="text/javascript">
     function initMap() {
       var test = {lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
       var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 15,
                 center: test
                 });
       var transitLayer = new google.maps.TransitLayer();
       transitLayer.setMap(map);
       var contentString = '住所：<%= @shop.address %>';
       var infowindow = new google.maps.InfoWindow({
         content: contentString
       });
       var marker = new google.maps.Marker({
                     position:test,
                     map: map,
                     title: contentString
                   });
       marker.addListener('click', function() {
         infowindow.open(map, marker);
       });
     }
   </script>
   <script async defer
             src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
   </script>
   <style type="text/css">
     #map { height: 200px;
           width: 70%;}
   </style>
   <div id="map"></div>

  <% if @shop.post.user == current_user %>
  <%= link_to '編集する', edit_shop_path(@shop.id) %>
  <% end %>

  コメント<%= @shop.post_comments.count %>件
  <% @shop.post_comments.each do |post_comment| %>
    <%= render 'public/users/link', user: post_comment.user %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %>
    <%= post_comment.comment %>
    <% if post_comment.comment_image.attached? %>
      <%= image_tag post_comment.comment_image %>
    <% end %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", shop_post_comment_path(@shop, post_comment), method: :delete %>
    <% end %>
  <% end %>
  <%= form_with model: [@shop, @post_comment] do |f| %>
    <%= f.text_area :comment, placeholder: "コメント" %>
    <%= f.file_field :comment_image, accept: "image/*" %>
    <%= f.submit "送信する" %>
  <% end %>