<div class="row mb-sm-3 border-bottom list">
  <div class="col">
    <div class="row">
      <span class="font-weight-bold">
        <%= question.content %>
      </span>
    </div>
    <div class="row">
      <i class="fa-regular fa-comment fa-flip-horizontal fa-lg mr-1 my-auto"></i>
      <span class="my-auto"><%= question.answers.size %></span>
      <span class="mx-2 text-secondary my-auto small_text">
        <%= question.created_at.strftime('%Y/%m/%d %H:%M') %>
      </span>
    </div>
    <div class="row small_text">
      <%= render 'public/users/link', user: question.user %>
      <div class="my-auto pl-2">
        <% question.question_tags.each do |question_tag| %>
          <span class="mr-2 text-secondary">
            #<%= question_tag.tag.name %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-2 col-lg-1 pl-0 pr-sm-0 text-right">
    <%= render 'public/bookmarks/btn', question: question %>
  </div>
</div>