<div class="container">
  <h4 class="row text-center page_title">Q&A</h4>
    <%= form_with model: @question do |f| %>
      <div class="field">
        <%= f.label :content, "質問内容", class: "mr-sm-3" %>
        <%= f.text_area :content, class: "col-12", rows: "5" %>
      </div>
      <div class="field">
        <%= f.label :tag_names, "タグ", class: "mr-sm-3" %>
        <%= f.text_field :tag_names, class: "col-sm-4 px-0" %>
      </div>
      <div class="actions text-center">
        <%= f.submit "質問する", class: "btn btn-success px-3" %>
      </div>
    <% end %>
</div>