<div class="container">
  <h4 class="row text-center page_title">Q&A</h4>
  <div class="row border rounded p-3">
    <div class="col">
      <div class="row">
        <%= render 'public/users/link', user: @question.user %>さん
        <span class="ml-2 text-secondary"><%= @question.created_at.strftime('%Y/%m/%d %H:%M') %></span>
        <div class="col text-right">
          <%= render 'public/bookmarks/btn', question: @question %>
        </div>
      </div>
      <div class="row mb-2">
        <%= @question.content %>
      </div>
      <div class="row small_text text-secondary">
        <% @question.question_tags.each do |question_tag| %>
          #<%= link_to question_tag.tag.name, tags_question_path(question_tag.tag.id), class: "mr-2 text-secondary" %>
        <% end %>
      </div>
      <div class="row mb-2">
        <% if !user_signed_in? %>
          <%= link_to "共感する", new_user_session_path, class: "text-secondary border rounded px-1" %>
        <% elsif current_user.already_question_liked?(@question) %>
          <%= link_to "共感した", question_likes_path(@question), method: :delete, class: "text-success border rounded px-1" %>
        <% else %>
          <%= link_to "共感する", question_likes_path(@question), method: :post, class: "text-secondary border rounded px-1" %>
        <% end %>
        <span class="ml-1 mr-2"><%= @question.question_likes.count %></span>
        <% if @question.user == current_user %>
          |
          <%= link_to question_path(@question.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "text-danger ml-2" do %>
            削除<i class="fa-solid fa-trash-can"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="border_bottom">
    回答 <%= @question.answers.count %>件
  </div>
  <% @question.answers.each do |answer| %>
    <div class="row mb-2 border-bottom px-0">
      <div class="col">
        <div class="row">
          <%= render 'public/users/link', user: answer.user %>さん
          <span class="ml-2 text-secondary"><%= answer.created_at.strftime('%Y/%m/%d %H:%M') %></span>
        </div>
        <div class="row mb-2">
          <%= answer.content %>
        </div>
        <div class="row mb-2">
          <% if !user_signed_in? %>
            <%= link_to new_user_session_path, class: "text-secondary" do %>
              <i class="fa-regular fa-thumbs-up"></i>
            <% end %>
          <% elsif current_user.already_answer_liked?(answer) %>
            <%= link_to answer_likes_path(answer), method: :delete, class: "text-success" do %>
              <i class="fa-solid fa-thumbs-up"></i>
            <% end %>
          <% else %>
            <%= link_to answer_likes_path(answer), method: :post, class: "text-secondary" do %>
              <i class="fa-regular fa-thumbs-up"></i>
            <% end %>
          <% end %>
          <span class="ml-1 mr-2"><%= answer.answer_likes.count %></span>
          <% if answer.user == current_user %>
            |
            <%= link_to question_answer_path(@question, answer), method: :delete, "data-confirm" => "本当に削除しますか？", class: "text-danger ml-2" do %>
              削除<i class="fa-solid fa-trash-can"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container border-top px-5" style="background-color:#f15f24;">
  <%= form_with model: [@question, @answer] do |f| %>
    <div class="field">
      <%= f.text_area :content, placeholder: "回答内容", class: "col-12 mt-3", rows: "3" %>
    </div>
    <div class="actions text-center pb-2">
      <% if user_signed_in? %>
        <%= f.submit "回答する", class: "btn btn-success px-3" %>
      <% else %>
        <%= f.submit "ログインして回答する", class: "btn btn-success px-3" %>
      <% end %>
    </div>
  <% end %>
</div>