<div class="container">
  <h4 class="border_bottom">投稿一覧</h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">投稿日時</th>
          <th scope="col">サムネイル</th>
          <th scope="col">タイトル</th>
          <th scope="col">キャッチコピー</th>
          <th scope="col">タグ</th>
          <th scope="col">投稿ユーザー</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td><%= link_to post.title, admin_post_path(post.id) %></td>
            <td><%= image_tag post.get_thumbnail_image %></td>
            <td><%= post.catchphrase %></td>
            <td>
              <% post.post_tags.each do |post_tag| %>
                <span class="sp_br"><%= post_tag.tag.name %></span>
              <% end %>
            </td>
            <td><%= post.user.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @posts %>
</div>