<div class="container">
  <h4 class="row text-center page_title">Q&A</h4>
  <%= render 'public/questions/search_form' %>
  <%= @questions.count %>件
  <div class="row">
    <div class="col-sm-8 mr-sm-3">
      <% @question.each do |question| %>
        <%= link_to question_path(question.id), class: "text-dark" do %>
          <%= render 'public/questions/list', question: question %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-3 col-lg-2 px-0">
      <div class="border text-center">
        <p class="border_bottom font-weight-bold">タグ</p>
        <p>
          <% @tags.each do |tag| %>
            <%= link_to tag.name, tags_question_path(tag.id), class: "text-dark" %><br>
          <% end %>
        </p>
        <%= link_to "全てのタグを見る>", tags_questions_path, class: "border-top pt-2 text-dark" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <%= paginate @question %>
    </div>
  </div>
</div>