<div class="container">
  <h4 class="border_bottom">プロフィール編集</h4>
    <div class="row">
      <div class="col px-5 px-sm-0">
        <%= form_with model: @user, url: users_information_path do |f| %>
          <div class="field">
            <%= f.label :name, "ユーザー名", class: "col-sm-3 offset-sm-2" %>
            <%= f.text_field :name, autofocus: true, class: "col-sm-4 px-0" %>
            <div class="offset-sm-5">
              <%= render "layouts/error_messages", model: @user, attribute: :name %>
            </div>
          </div>

          <div class="field">
            <%= f.label :email, "メールアドレス", class: "col-sm-3 offset-sm-2" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-4 px-0" %>
            <div class="offset-sm-5">
              <%= render "layouts/error_messages", model: @user, attribute: :email %>
            </div>
          </div>

          <div class="field">
            <%= f.label :profile_image, "プロフィール画像", class: "col-sm-3 offset-sm-2" %>
            <%= f.file_field :profile_image, accept: "image/*", class: "col-sm-4 px-0" %>
          </div>

          <div class="field">
            <%= f.label :introduction, "自己紹介", class: "col-sm-3 offset-sm-2" %>
            <%= f.text_area :introduction, autofocus: true, class: "col-sm-4 px-0", rows: "5" %>
            <div class="offset-sm-5">
              <%= render "layouts/error_messages", model: @user, attribute: :introduction %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "変更を保存", class: "btn btn-success col-8 offset-2 col-sm-2 offset-sm-4 px-0" %>
            <%= link_to "退会する", users_unsubscribe_path, class: "btn btn-danger col-8 offset-2 col-sm-2 offset-sm-1 mt-3 mt-sm-0 px-0" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>