<p>マイページ</p>
<%= image_tag @user.get_profile_image(100,100) %>
<%= @user.name %>
<%= @user.introduction %>
<% if @user == current_user %>
    <p><%= link_to "プロフィール編集", users_information_edit_path %></p>
<% end %>
<%= link_to user_posts_path(@user.id) do %>
  投稿数:<%= @user.posts.count %>
<% end %>
<%= link_to user_answers_path(@user.id) do %>
  回答数:<%= @user.answers.count %>
<% end %>
<%= link_to "いいね一覧", favorites_path %>
<%= link_to "ブックマーク一覧", bookmarks_path %>