<div class="container">
  <h4 class="row text-center page_title">茶葉、紅茶用品</h4>
  <%= render 'search_form' %>
  <%= @items.count %>件
  <div class="row">
    <div class="col-sm-8 mr-sm-3">
      <% @items.each do |item| %>
        <%= link_to item_path(item.id), class: "text-dark" do %>
          <%= render 'public/posts/list', post: item.post %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-3 col-lg-2 px-0">
      <div class="border text-center">
        <p class="border_bottom font-weight-bold">紅茶の種類</p>
        <p><% @tags.each do |tag| %>
          <%= link_to tag.name, tags_item_path(tag.id), class: "text-dark" %><br>
        <% end %></p>
      </div>
    </div>
  </div>
</div>